:root {
    --primary: rgb(107,21,26);
}

.buttonMe {
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 1vw;
    width:10vw;
    min-width: 150px;
}

.buttonMe:hover {
    padding: 8px 10px;
    transition: all 0.3s ease-out;
    background: rgba(244,141,209,0.5);
    color: #6568F4;
    transition: 250ms;
}

.buttonMe--primary {
    background-color: var(--primary);
}

.buttonMe--outline {
    background-color: transparent;
    color:white;
    padding: 8px  10px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.buttonMe--medium {
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
}