.NewUserPage
{
    flex:4;
    padding:20px;
}

.userTitleContainer
{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.userAddButton
{
    display: block !important;
    border:none !important;
    width:80px !important;
    padding:5px !important;
    background-color: #d2386c !important;
    border-radius:5px !important;
    cursor:pointer !important;
    color:white !important;
    font-size: 16px !important;
}

.userContainer {
    display: flex;
    margin-top: 20px;
}

.userShow{
    flex:1;
    padding:20px;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}

.userUpdate{
    flex:2;
    padding:20px;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}

.userShowTop{
    display:flex;
    align-items:center;
}

.userShowImg{
    width:40px;
    height:40px;
    border-radius: 50%;
    object-fit: cover;
    border:1px solid #d2386c;
}

.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.userShowUsername{
    font-weight: 600;
}

.userShowUserTitle{
    font-weight: 300;
}

.userShowTitle{
    font-size: 14px;
    font-weight: 600;
    color:rgb(175,170,170);
    font-weight: 100;
}

.userShowBottom{
    margin-top: 20px;
}

.userShowInfo{
    display:flex;
    align-items: center;
    margin:20px 0px;
    color:#444;
}

.userShowIcon{
    font-size:16px !important;
}

.userShowInfoTitle{
    margin-left:10;
}

.userUpdateForm{
    display:flex;
    justify-content: space-between;
    margin-top:20px;
}

.userUpdateTitle{
    font-size:24px;
    font-weight:600;
}

.userUpdateItem{
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 30px;
} 

.userUpdateLeft{
    display:flex;
    flex-direction: column;
    flex:2;
}

.userUpdateItem>label{
    margin-bottom: 5px;
    font-size:14px;
}

.userUpdateInput{
    border:none;
    width:100%;
    height:30px;
    border-bottom: 1px solid gray;

}
.userUpdateButton{
    display: block;
    border-radius: 5px;
    border:none;
    padding:5px;
    margin: 5px;
    cursor:pointer;
    background-color: #d2386c;
    border:2px solid #d2386c;
    color:white;
    font-weight:400
}

.userUpdateButton:hover{
    background-color: white;
    border:2px solid #d2386c;
    color:#d2386c;
}
.userUpdateRight{
    display:flex;
    flex-direction: column;
    flex:2;
    justify-content: space-between;
}

