.NavbarItemsAdmin {
    background:rgb(255,255,240) !important;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    z-index:199 !important;
}