.container_slide{
    display:flex;
    margin:0;
    padding:0;
    background: rgb(255,255,240);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.sidebar_slide{
    color: #555;
    height: 90vh;
    width: 200px;
    transition: all 0.5s;
    margin:0;
    padding:0;
}

.top_section_slide{
    display: flex;
    padding:20px 15px;
    margin:0;
}
.logo_slide{
    font-size: 30px;
    margin:0;
    padding:0;
}
.bars_slide{
    font-size: 25px;
    margin-left: 50px;
    margin:0;
    padding:0;
}

@media screen and (max-width: 600px)
{
    .bars_slide
    {
        display: none;
    }
}

.link_slide{
    display: flex;
    color: #555;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    margin:0;
    text-decoration: none !important;
    border-radius: 10px;
}
.link_slide:hover{
    background:rgba(244,141,209,0.5);
    color: #000;
    transition: all 0.5s;
    margin:0;
}
.active_slide{
    background: rgba(244,141,209,0.5);
    color: #000;
    margin:0;
    padding:0;
}
.icon_slide, .link_text_slide{
    font-size: 20px;
    margin:0;
    padding:0;
}